Source: python-django-indexer
Section: python
Priority: optional
Maintainer: David Cramer <dcramer@gmail.com>
Homepage: https://github.com/dcramer/django-indexer
Bugs: https://github.com/dcramer/django-paging/issues
Build-Depends: debhelper, python-support

Package: python-django-indexer
Architecture: all
Depends: ${python:Depends}, python-support, python-django
Provides: ${python:Provides}
Description: Key/Value Indexer
